<!DOCTYPE html>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/latest.js?config=TeX-MML-AM_CHTML">
</script>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
   var codes = $(".highlighter-rouge code").map(function(i,node) { return $(node).text() }).toArray()

   $(".highlighter-rouge").each(function(i, node) {
       var replacement = $('<div>')
           .addClass('paren-soup')
           .append($('<div>').addClass('instarepl'),
                   $('<div>').addClass('numbers'),
                   $('<div>').addClass('content').attr({contenteditable: true}).text(codes[i])
                                   )
       $(node).replaceWith(replacement)
   })
   paren_soup.core.init_all();
  </script>

</html>
